---
import type { GuestbookEntry } from "@/lib/guestbook/types";
import { normalizeUrl, formatDate } from "@/lib/guestbook/format/";
import EntryContent from "./entryContent.astro";

interface Props {
  entry: GuestbookEntry;
}

const { entry } = Astro.props as Props;

const { ID, CreatedAt, Name, Website, Message } = entry;

const { date, time } = formatDate(CreatedAt);
const safeWebsite = Website ? normalizeUrl(Website) : null;
---

<div class="entry-box" id={`entry-${ID}`}>
  <div class="entry-header">
    
    <div class="namekajweb">
      <strong>
        <span class="importantshit">{Name}</span>
      </strong>

      {safeWebsite && (
        <>
          {" desde "}
          <a href={safeWebsite} target="_blank" rel="noopener noreferrer">
            {Website}
          </a>
        </>
      )}
    </div>
    <span class="fkinspace">&nbsp;</span>
    <div class="datekajid">
      <span class="date">
        escrito el{" "}
        <strong><span class="importantshit">{date}</span></strong>
        {" "}a las{" "}
        <strong><span class="importantshit">{time}</span></strong>
      </span>

      <a href={`javascript:quote(${ID})`} class="post-number reply-link">
        No.{ID}
      </a>
    </div>

  </div>

  {/* 🔥 ahora delegas completamente el mensaje */}
  <EntryContent message={Message} />
</div>

<script>
  window.quote = id => {
    const field = document.querySelector('#guestbook-form textarea[name="message"]');
    if(field) {
      field.value += `>>${id}\n`;
      field.focus();
    }
  }
</script>

<style>
  .entry-box {
    margin-top: 20px;
    width: fit-content;
    max-width: 100%;
    padding: 10px 15px;
    border: 1px solid #504945;
    background-color: #282828; 
    color: #ebdbb2;
    font-size: 14px;
    line-height: 1.5;
  }

  .importantshit {
    color: #ebdbb2;
  }

  .entry-header {
    margin-bottom: 5px;
    display: flex;
    color: #928374;
    word-break: break-all;
  }

  .entry-content {
    margin-top: 8px;
    word-break: break-word;
    font-size: 13px;
  }

  .namekajweb {
    display: inline-block;
  }

  @media screen and (max-width: 992px) {
    .fkinspace {
      display: none;
    }

    .entry-box {
      width: auto;
      margin-right: 5px;
    }
    
    .entry-header {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 600px) {
    .datekajid {
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }

    .date {
      flex-grow: 1;
    }

    .post-number {
      margin-left: auto; 
    }
  }
</style>
