---
import { getCollection } from 'astro:content';
const { data } = Astro.props;
const items = await getCollection(data);
---

<style>
  ul {
    padding-left: 0;
  }

  li {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 5px 10px;
    align-items: center;
    padding: 8px 0;
  }

  span {
    grid-column: 1 / -1;
  }

  img {
    width: 88px;
    height: 31px;
  }

  a {
    word-break: keep-all;
  }

</style>

<ul>
  {items.length > 0 && items.map((item) => (
    <li key={item.data.url}>
      <a href={item.data.url}>
        {item.data.img && <img src={item.data.img} alt={`88x31 de ${item.data.name}`} />}
      </a>
      <a href={item.data.url}>{item.data.name}</a>
      <span>{item.data.desc}</span>
    </li>
  ))}
</ul>
