---
import '../style.css';
import Navigation from '../components/nav.astro';
import Pins from '../components/pins.astro';
import { ViewTransitions } from "astro:transitions";

const {pageTitle, pageDescription} = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={pageDescription}>
    <link rel="canonical" href={`https://edmateo.site${Astro.url.pathname}`} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
    <title>{pageTitle} | edmateo.site</title>
	</head>
	<body>
        <div class="wrapper">
            <Navigation />    
            <main>
                <h1>{pageTitle}</h1>
                <slot />
            </main>
            <Pins />    
        </div>
    </body>
</html>
